/*** Stage Tabs ***/
.hn-stageTab > .tab-pane {
    /* Color behind Tabs */
    -fx-background-color: transparent;
    -fx-font-size: 15;
}
.hn-stageTab > .tab-pane .tab-label {
    -fx-font-size: 1em;
    -fx-padding: 0 10 2 0;
    -fx-text-fill: #222222;
}
.hn-stageTab > .tab-pane *.tab-header-background {
    -fx-background-color: #666666;
}
.hn-stageTab > .tab-pane .headers-region {
    -fx-translate-x: -3;
    -fx-effect: dropshadow(gaussian, #444444, 3, 0.1, 0, 0);
}
.hn-stageTab > .tab-pane .tab {
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-padding: 1 3 3 3;
    -fx-background-color: transparent;
    -fx-background-image: url("../images/stageTab_off.png");
    -fx-background-repeat: no-repeat;
    -fx-opacity: 1;
}
.hn-stageTab > .tab-pane .tab:top,
.hn-stageTab > .tab-pane .tab:right,
.hn-stageTab > .tab-pane .tab:left,
.hn-stageTab > .tab-pane .tab:bottom {
    -fx-background-color: transparent;
}
.hn-stageTab > .tab-pane .tab:top:hover,
.hn-stageTab > .tab-pane .tab:right:hover,
.hn-stageTab > .tab-pane .tab:left:hover,
.hn-stageTab > .tab-pane .tab:bottom:hover {
    -fx-background-color: transparent;
}
.hn-stageTab > .tab-pane .tab:selected,
.hn-stageTab > .tab-pane .tab:selected:hover {
    -fx-background-color: transparent;
    -fx-opacity: 1;
    -fx-background-image: url("../images/stageTab_on.png");
    -fx-background-repeat: no-repeat;
}
.hn-stageTab > .tab-pane .tab:selected .tab-label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.hn-stageTab > .tab-pane .tab-close-button {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    -fx-scale-shape: false;
    -fx-background-insets: -1;
    -fx-translate-x: -3;
    -fx-opacity: 0.5;
}
.hn-stageTab > .tab-pane .tab-close-button:hover {
    -fx-background-color: -fx-mark-color;
    -fx-opacity: 1;
    -fx-cursor: hand;
}
.hn-stageTab > .tab-pane .tab-content-area {
    /* TabPane Frame*/
    -fx-background-color: transparent; /*derive(-fx-base, 30%); */
    -fx-background-radius: 0 12 12 12;
    -fx-border-width: 0 0 1 0;
}
.hn-stageTab .hn-leftMenu {
    -fx-background-color: linear-gradient(to right, rgba(100,100,100,0.2) 90%, rgba(50,50,50,0.5) 100%);
    -fx-font-family: MingLiU, monospace;
    -fx-font-size: 15;
}
.hn-stageTab  .hn-leftMenu .label {
    -fx-text-fill: white;
}
.hn-stageTab .hn-leftMenu-pri {
    -fx-background-color: #333333;
    -fx-border-color: #444444;
    -fx-border-width: 0 0 1 0;
}
.hn-stageTab .hn-leftMenu-pri .label {
    -fx-padding: 0 0 0 5;
}
.hn-stageTab .hn-leftMenu-Sub {
    -fx-background-color: #666666;
    -fx-border-width: 0 0 1 5;
    -fx-border-color: #545454;
}
.hn-stageTab .hn-leftMenu-Sub .label {
    -fx-text-fill: #dddddd;
}
.hn-stageTab .hn-menu-focused {
    -fx-background-color: linear-gradient(to right, #0a7c56 25%, #0a5856 100%);
}
.hn-stageTab .hn-stage-tab {
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-padding: 1 3 3 3;
    -fx-background-color: transparent;
    -fx-background-image: url("../images/stageTab_off.png");
    -fx-background-repeat: no-repeat;
    -fx-opacity: 1;
}
.hn-stageTab .hn-stage-tab-on {
    -fx-background-image: url("../images/stageTab_on.png");
}

/*** Tabpane inside StageTabs ***/

.hn-stageTab-innerTabPane > .tab-pane {
    /* Color behind Tabs */
    -fx-background-color: transparent;
    -fx-font-size: 15;
}
.hn-stageTab-innerTabPane > .tab-pane .tab-label {
    -fx-font-size: 14;
    -fx-padding: 0 2 2 0;
    -fx-text-fill: #dddddd;
    -fx-text-alignment: center;
}
.hn-stageTab-innerTabPane > .tab-pane *.tab-header-background {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #eeeeee;
}
.hn-stageTab-innerTabPane > .tab-pane .headers-region {
    -fx-translate-x: -6;
}
.hn-stageTab-innerTabPane > .tab-pane .tab {
    -fx-background-insets: 0 3 0 0;
    -fx-background-radius: 0;
    -fx-padding: 1 10 0 10;
    -fx-background-color: transparent;
}
.hn-stageTab-innerTabPane > .tab-pane .tab:top,
.hn-stageTab-innerTabPane > .tab-pane .tab:right,
.hn-stageTab-innerTabPane > .tab-pane .tab:left,
.hn-stageTab-innerTabPane > .tab-pane .tab:bottom {
    -fx-background-color: #666666;
}
.hn-stageTab-innerTabPane > .tab-pane .tab:top:hover,
.hn-stageTab-innerTabPane > .tab-pane .tab:right:hover,
.hn-stageTab-innerTabPane > .tab-pane .tab:left:hover,
.hn-stageTab-innerTabPane > .tab-pane .tab:bottom:hover {
    -fx-background-color: #333333;
}
.hn-stageTab-innerTabPane > .tab-pane .tab:selected,
.hn-stageTab-innerTabPane > .tab-pane .tab:selected:hover {
    -fx-background-color: linear-gradient(-fx-base-sub1 0%, -fx-base-sub3 100%);
    -fx-opacity: 1;
    -fx-text-fill: white;
}
.hn-stageTab-innerTabPane > .tab-pane .tab:selected .tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.hn-stageTab-innerTabPane > .tab-pane .tab-close-button {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    -fx-scale-shape: false;
    -fx-background-insets: -1;
    -fx-translate-x: -3;
    -fx-opacity: 0.5;
}
.hn-stageTab-innerTabPane > .tab-pane .tab-close-button:hover {
    -fx-background-color: -fx-mark-color;
    -fx-opacity: 1;
    -fx-cursor: hand;
}
.hn-stageTab-innerTabPane > .tab-pane .tab-content-area {
    /* TabPane Frame*/
    -fx-background-color: transparent; /*derive(-fx-base, 30%); */
    -fx-background-radius: 0 12 12 12;
    -fx-border-width: 0 0 1 0;
}

/* Headers */
.hn-stageTab .stageTabContentHeader {
    -fx-background-color: linear-gradient( -fx-base-light 0,  -fx-base-darker 100%);
}
.hn-stageTab .stageTabContentSubHeader {
    -fx-text-fill: -fx-base-sub3;
}
.hn-stageTab .gridHeaderBkg {
    -fx-background-color: #cccccc;
}
.hn-stageTab .gridHeaderBkg {
    -fx-background-color: #cccccc;
}
.hn-stageTab .gridRowBkg {
    -fx-background-color: #eeeeee;
}
.hn-stageTab .gridRowBkg1 {
    -fx-background-color: #dddddd;
}