/* Theme -> Styles -> Framework -> Controls */

/***** Theme Colors *****/

/* Spring  */
.hn-mainWrap, .hn-windowWrap, .hn-modalWrap {
    -fx-base:            rgb(211, 248, 162);

    -fx-base-ultraLight: rgb(245, 255, 230);
    -fx-base-lighter:    rgb(222, 252, 151);
    -fx-base-light:      rgb(202, 237, 119);
    -fx-base-dark:       rgb(136, 203,  56);
    -fx-base-darker:     rgb( 94, 183,   0);
    -fx-base-ultraDark:  rgb( 57, 174,  58);

    -fx-base-sub1:       rgb( 10, 124,  86);
    -fx-base-sub2:       rgb( 10, 116, 106);
    -fx-base-sub3:       rgb( 10,  88,  86);
    -fx-base-sub4:       rgb(221, 255, 224);

    -fx-base-gradient: linear-gradient(to right, -fx-base-light 5%, -fx-base-lighter 50%, -fx-base-light 95%);


/************************************************************************
+ ui-styles.css  (Colors)
************************************************************************/

    /**********************
        Fonts
    **********************/
    -fx-font-size: 15;
    /*-fx-font-family: "Microsoft JhengHei", Arial, monospace, sans-serif; PMingLiU*/
    -fx-font-family: Arial, monospace, sans-serif;
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-smooth: false;
    -fx-text-fill: black;

    -fx-dark-text-color: black;
    -fx-mid-text-color: #292929;
    -fx-color: -fx-base;

    -fx-background: white;
    -fx-light-text-color: white;

    /**********************
        Default Colors
    **********************/

    -fx-control-inner-background: white;

    -fx-text-background-color: ladder(
        -fx-background,
        -fx-light-text-color 45%,
        -fx-dark-text-color  46%,
        -fx-dark-text-color  59%,
        -fx-mid-text-color   60%
    );

    -fx-box-gradient: linear-gradient( white 0%, rgb(225,225,225) 40%, rgb(245, 245, 245) 80%, rgb(246, 246, 246) 100%);

    -fx-box-border: ladder(
        -fx-color,
        black 20%,
        derive(-fx-color,-30%) 30%
    );

    -fx-text-box-border: ladder(
        -fx-background,
        black 10%,
        derive(-fx-background, -15%) 30%
    );
    /* Window Control */
    -fx-minimize-color1: #222222;
    -fx-minimize-color2: #777777;
    -fx-logout-color1: #b80900;
    -fx-logout-color2: #FF0000;

    /* States - Error */
    -fx-error-color1: #e10000;
    -fx-error-color2: #ffcccc;

    /**********************
        States
    **********************/
    -fx-focus-base: rgb(255,230,230);
    -fx-focus-color: derive(-fx-focus-base, -80%); /* Focused Elements BorderColor */
    -fx-focus-gradient: linear-gradient( white 0%, -fx-focus-base 15%, -fx-focus-base 80%, rgb(230,230,230) 100%);

    -fx-hover-base: ladder(
        -fx-base,
        derive(-fx-base,20%) 20%,
        derive(-fx-base,30%) 35%,
        derive(-fx-base,40%) 50%
    );

    -fx-pressed-base: derive(-fx-base,-50%);

    -fx-required-base: rgb(255, 255, 180);
    -fx-required-gradient: linear-gradient(-fx-required-base 0%, derive(-fx-required-base, 20%) 100%);

    -fx-error-base: -fx-error-color1;
    -fx-error-gradient: linear-gradient(-fx-error-color2 0%, derive(-fx-error-color2, 5%) 100%);

    -fx-disabled-opacity: 1;
}
/************************************************************************
+ ui-framework.css
************************************************************************/

/*******************
/** Framework
00. Global
01. MenuBar
02. Menu
03. MenuItem
04. TabPane
05. TreeView and TreeCell
06. ScrollPane
07. ScrollBar
08. Slider
09. FunctionKey Buttons
10. StageTab
11. Modals
12. Report
13. Splash
14. Loading

*******************/

/*** 00. Container & Elements ***/

.hn-mainWrap {
    -fx-background-color: radial-gradient(center 50% 10%, radius 70%, #505d6e 20%, #111111 100%);
}
.hn-mainWrapOverlay {
    /*-fx-background-image: url("../images/ptn-01.jpg");
    -fx-background-repeat: repeat;
    -fx-opacity: 1; */
}
.hn-windowWrap {
    -fx-background-color: radial-gradient(center 50% 10%, radius 100%, #ffffff 20%, #cacaca 100%);
}
/* TopBar Area */
.hn-topbar {
    -fx-background-color: linear-gradient(to bottom, #303030 90%, transparent 100%);
}
.hn-functionmenu {
    -fx-background-radius: 0;
    -fx-background-color: linear-gradient(#e3959a 3%, #e05f62 15%, #c90003 93%, #ff3503 100%);
}
.hn-extlinks {
    -fx-background-color: linear-gradient(rgba(255,255,255,0) 50%, #f26e60 100%);
    -fx-background-radius: 0;
    -fx-cursor: hand;
}
.hn-extlinks:hover {
    -fx-background-color: linear-gradient(#9d0700 0%, #d90a00 100%);
    -fx-cursor: hand;
}
.hn-extlinks .label {
    -fx-text-fill: white;
}
.hn-userinfo {
    -fx-background-radius: 0 0 3 3;
    -fx-translate-y: 0;
    -fx-effect: innershadow(three-pass-box, #664948, 5, 0.5, 0, 0)
}
.hn-userinfo:hover {
    -fx-translate-y: 203;
    -fx-effect: dropshadow(three-pass-box, gray, 5, 0.5, 0, 2);
}
.hn-userinfo .hn-userinfo-expand {
    -fx-background-color: linear-gradient(to bottom, #f2cfcd 0%, #ffe8ea 55%);
}
.hn-userinfo .hn-userinfo-inline {
    -fx-background-color: linear-gradient(to bottom, #e192a7 0%, #ffbbc2 40%, #ffe1ed 100%);
    -fx-background-radius: 0 0 3 3;
}
.hn-userinfoBkg {
    -fx-background-color: linear-gradient(to bottom, #111111 0%, #cccccc 100%);
    -fx-background-radius: 0 0 4 4;
    -fx-opacity: 0.5;
}
.hn-userinfo .label {
    -fx-text-fill: black;
}
.hn-userinfo-header.label {
    -fx-text-fill: #642020;
}
.hn-onlinestatus {
    -fx-background-color: #333333, radial-gradient(center 50% 50%, radius 90%, #ffffff 20%, #767676 100%);
    -fx-background-radius: 3;
    -fx-background-insets: 1 0 0 0;
    -fx-padding: 1 6;
}
.hn-broadCast {
    -fx-background-color: linear-gradient(to right, derive(-fx-base-sub4, -35%) 0%, -fx-base-sub4 20%, -fx-base-sub4 85%, derive(-fx-base-sub4, -35%) 100%);
}

/* TxnContent Area */
.hn-txnNameWrap {
    -fx-background-color: -fx-base-gradient;
    -fx-background-radius: 0 6 6 0;
    -fx-effect: dropshadow(three-pass-box, #999999, 5, 0.5, 0, 2);
}
.hn-txnName {
    -fx-font-size: 18;
    -fx-font-weight: bolder;
}
.hn-txnQuickInput {
    -fx-background-color: linear-gradient(-fx-base-sub1 0, -fx-base-sub3 50%, -fx-base-sub2 100%);
    -fx-background-radius: 6 0 0 6;
    -fx-effect: dropshadow(three-pass-box, #999999, 5, 0.5, 0, 2);
}
.hn-tabPaneWrap {
    -fx-background-radius: 0 1 12 12;
    -fx-background-color: linear-gradient(-fx-base-ultraLight 30%, derive(-fx-base-ultraLight, 15%) 100%);
}
.hn-version-box {
    -fx-background-color: derive(-fx-base-light, -2%);
    -fx-font-size: 12;
    -fx-font-weight: normal;
}
.hn-version-v {
    -fx-font-size: 12;
    -fx-font-weight: bolder;
    -fx-background-color: #666666;
    -fx-text-fill: white;
    -fx-padding: 2 5 2 5;
    -fx-background-radius: 1;
}
.hn-medal-text {
    -fx-font-size: 19;
    -fx-text-fill: #ffe420;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}
/*-- Function Key */
.hn-funcKeyWrap {
    -fx-background-color: linear-gradient(rgba(77,77,77,.95) 10%, rgba(77,77,77,.75) 50%, rgba(77,77,77,.75) 100%);
    -fx-padding: 0;
    -fx-background-radius: 6 6 0 0;
}
/*-- Txn Message */
.hn-txnMsgWrap {
    -fx-background-color: -fx-base-gradient;
    -fx-background-radius: 0 0 10 10;
}
.hn-txnMsgWrap .label {
    -fx-font-size: 15;
}
.hn-txnMsgWrapShadow {
    -fx-background-color: linear-gradient(to right, transparent 0, #000000 50%, transparent 100%);
}
/*-- Txn Zoom */
.hn-txnZoom {
    -fx-background-color: linear-gradient(#666666 0%, transparent 100%);
    -fx-background-radius: 3 3 0 0;
    -fx-padding: 2;
}
.hn-txnZoom .hn-txnZoomUp {
    -fx-background-color: linear-gradient(-fx-base 0%, -fx-base-light 50%, -fx-base 100%);
    -fx-background-radius: 0 2 2 0;
    -fx-background-insets: 1 1 1 0;
}
.hn-txnZoom .text-field {
    -fx-background-color: transparent, linear-gradient(#cccccc 0%, white 50%);
    -fx-background-radius: 0;
    -fx-padding: 4 3 4 3;
    -fx-text-alignment: center;
    -fx-effect: null;
}
.hn-txnZoom .hn-txnZoomDown {
    -fx-background-color: linear-gradient(-fx-base 0%, -fx-base-light 50%, -fx-base 100%);
    -fx-background-radius: 2 0 0 2;
    -fx-background-insets: 1 0 1 1;
}
/* BottomBar Area */
.hn-bottomBar {
    -fx-background-color: linear-gradient(#f8f8f8 40%, #e0e0e0 50%, #c9c9c9 100%);
    -fx-background-radius: 2 2 0 0;
}
.hn-systemInfo {
    -fx-background-radius: 2 2 0 0;
}
.hn-systemInfo .label {
    -fx-text-fill: black;
    -fx-font-size: 15;
}
.hn-datebox {
    -fx-background-color: linear-gradient(to right, #999999 0%, #eeeeee 20%, #eeeeee 80%, #999999 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 3 3 0 0;
    -fx-effect: innershadow(three-pass-box, #999999, 5, 0.2, 1, 1);
}
.hn-serverUrl .label {
    -fx-text-fill: #006495;
}
.hn-timebox {
    -fx-background-color: linear-gradient(to bottom, -fx-base 0%, -fx-base-lighter 40%, -fx-base-ultraLight 100%);
    -fx-background-insets: -1 -3 -1 -3;
    -fx-background-radius: 2;
}
/** Login Window Control Buttons **/

.hn-minimize.button {
    -fx-background-color: linear-gradient(-fx-minimize-color1 0, -fx-minimize-color2 100%);
    -fx-background-radius: 3 0 0 0;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: -fx-minimize-color1;
    -fx-cursor: hand;
}
.hn-minimize.button:focused {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-minimize-color1, 10%) 0%, derive(-fx-minimize-color2, 30%) 100%);
    -fx-background-insets: 0;
}
.hn-minimize.button:hover:pressed,
.hn-minimize.button:armed {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-minimize-color1, -50%) 0%, derive(-fx-minimize-color2, -30%) 100%);
    -fx-background-insets: 0;
    -fx-padding: 1 0 0 0;
}
.hn-logout.button {
    -fx-background-color: linear-gradient(-fx-logout-color1 0, -fx-logout-color2 100%);
    -fx-background-radius: 0 3 0 0;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: -fx-logout-color1;
    -fx-cursor: hand;
}
.hn-logout.button:focused {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-logout-color1, 10%) 0%, derive(-fx-logout-color2, 30%) 100%);
    -fx-background-insets: 0;
}
.hn-logout.button:hover:pressed,
.hn-logout.button:armed {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-logout-color1, -50%) 0%, derive(-fx-logout-color2, -30%) 100%);
    -fx-background-insets: 0;
    -fx-padding: 1 0 0 0;
}

/* Misc */
.hn-errorText {
    -fx-text-fill: -fx-error-base !important;
}

/*** 01. MenuBar ***/
.hn-menuBar {
    -fx-background-color: transparent;
}
.hn-menuBar .menu-item .text {
    -fx-font-size: 15;
}

/*** 02. Menu ***/
.hn-menuBar .menu {
    -fx-background-color: transparent;
    -fx-padding: 1 6 0 4;
}
.hn-menuBar .menu-button .label {
    -fx-text-fill: white;
}
.hn-menuBar .menu-button:hover,
.hn-menuBar .menu-button:focused,
.hn-menuBar .menu-button:showing,
.hn-menuBar .menu:hover {
    -fx-background-color: linear-gradient(#333333 0%, #444444 80%);
    -fx-background-insets: 1 0 0 0;
    -fx-background-radius: 2 2 0 0;
}

.hn-menuBar .menu .context-menu {
    /* -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
     -fx-background-color: black;
     -fx-background-insets: 0, 1, 2;
     -fx-background-radius: 0;
     -fx-padding: 4 1 8 1;   */
}
.hn-menuBar .context-menu {
    -fx-font-size: 21 !important;
}

/*** 03. MenuItem ***/

/*** 04. TabPane ***/
.hn-tabPane > .tab-pane {
    /* Color behind Tabs */
    -fx-background-color: transparent;
}
.hn-tabPane > .tab-pane .tab-label {
    -fx-font-size: 1em;
    -fx-padding: 0 6 0 0;
    -fx-text-fill: white;
}
.hn-tabPane > .tab-pane *.tab-header-background {
    -fx-background-color: transparent;
}
.hn-tabPane > .tab-pane .headers-region {
    -fx-translate-x: -6;
}
.hn-tabPane > .tab-pane .tab {
    -fx-background-insets: 0 3 0 0;
    -fx-background-radius: 3 3 0 0;
    -fx-padding: 1 5 1 5;
}
.hn-tabPane > .tab-pane .tab:top,
.hn-tabPane > .tab-pane .tab:right,
.hn-tabPane > .tab-pane .tab:left,
.hn-tabPane > .tab-pane .tab:bottom {
    -fx-background-color: linear-gradient(#888888 0%, #1f1f1f 100%);
    -fx-opacity: 0.7;
}
.hn-tabPane > .tab-pane .tab:top:hover,
.hn-tabPane > .tab-pane .tab:right:hover,
.hn-tabPane > .tab-pane .tab:left:hover,
.hn-tabPane > .tab-pane .tab:bottom:hover {
    -fx-background-color: linear-gradient(#cccccc 0%, #1f1f1f 100%);
}
.hn-tabPane > .tab-pane .tab:selected,
.hn-tabPane > .tab-pane .tab:selected:hover {
    -fx-background-color: linear-gradient(-fx-base 0%, -fx-base-ultraLight 26%);
    -fx-opacity: 1;
}
.hn-tabPane > .tab-pane .tab:selected .tab-label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.hn-tabPane > .tab-pane .tab-close-button {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    -fx-scale-shape: false;
    -fx-background-insets: -1;
    -fx-translate-x: -3;
    -fx-opacity: 0.5;
}
.hn-tabPane > .tab-pane .tab-close-button:hover {
    -fx-background-color: -fx-mark-color;
    -fx-opacity: 1;
    -fx-cursor: hand;
}
.hn-tabPane > .tab-pane .tab-content-area {
    /* TabPane Frame*/
    -fx-background-color: transparent; /*derive(-fx-base, 30%); */
    -fx-background-radius: 0 12 12 12;
    -fx-border-width: 0 0 1 0;
}
/* AddTab Button */
.hn-addTabBtn {
    -fx-cursor: hand;
}
.hn-addTabBtn .button {
    -fx-background-color: radial-gradient(center 50% 50%, radius 120%, #dcdcdc 20%, #767676 100%);
    -fx-background-insets: 1;
    -fx-background-radius: 0 3 3 0;
    -fx-padding: 1 5 1 5;
}
.hn-addTabBtn .button:pressed {
    -fx-background-insets: 2 1 0 1;
    -fx-padding: 2 5 0 5;
}
/*** 05. TreeView and TreeCell ***/
/* Treeview Area */
.hn-treeview-wrap {
    -fx-translate-x: 0;
    -fx-background-color: linear-gradient(to right, #474747 95%, transparent 100%);
    -fx-background-radius: 0 4 4 0;
}
.hn-treeview-wrap.hide {
    -fx-translate-x: -445;
    -fx-background-color: transparent;
}
.hn-treeview-wrap.hide:hover {
    -fx-translate-x: 0;
    -fx-background-color: linear-gradient(to right, #474747 95%, transparent 100%);
    -fx-background-radius: 0 4 4 0;
}
.hn-treeview-drag {
    -fx-background-color: radial-gradient(center 50% 50%, radius 80%, -fx-base 5%, -fx-base-dark 100%);
    -fx-background-radius: 0 4 4 0;
}
/* Treeview TabPane */
.hn-treeview-wrap .tab-pane {
    /* Color behind Tabs */
    -fx-background-color: #333333;
    -fx-padding: -6 0 0 0;
    -fx-background-radius: 0 3 0 0;
}
.hn-treeview-wrap .tab-pane .tab-label {
    -fx-padding: 0;
    -fx-text-fill: white;
}
.hn-treeview-wrap .tab-pane *.tab-header-background {
    -fx-background-color: transparent;
}
.hn-treeview-wrap .tab-pane .headers-region {
    -fx-translate-x: -12;
}
.hn-treeview-wrap .tab-pane .tab {
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-padding: 0 30 0 30;
}
.hn-treeview-wrap .tab-pane .tab:top{
    -fx-background-color: transparent;
    -fx-opacity: 0.8;
}
.hn-treeview-wrap .tab-pane .tab:top:hover {
    -fx-background-color: #666666;
}
.hn-treeview-wrap .tab-pane .tab:selected,
.hn-treeview-wrap .tab-pane .tab:selected:hover,
.hn-treeview-wrap .tabPaneTopBorder {
    -fx-background-color: linear-gradient(#0a746a 0, #0a5856 50%, #0a7c56 100%);
    -fx-opacity: 1;
}
.hn-treeview-wrap .tab-pane .tab-close-button {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    -fx-scale-shape: false;
    -fx-background-insets: -1;
    -fx-opacity: 0.5;
}
.hn-treeview-wrap .tab-pane .tab-close-button:hover {
    -fx-background-color: -fx-mark-color;
    -fx-opacity: 1;
    -fx-cursor: hand;
}
.hn-treeview-wrap .tab-pane .tab-content-area {
    /* TabPane Frame*/
    -fx-background-color: transparent; /*derive(-fx-base, 30%); */
    -fx-background-radius: 0 12 12 12;
    -fx-border-width: 0 0 1 0;
}

/* Treeview */
.hn-treeview {
    -fx-padding: 10;
}
.hn-treeview .tree-cell {
    -fx-background-color: transparent; /* derive(-fx-base, 30%);*/
    -fx-indent: 10;
}
.hn-treeview .tree-cell:odd {
    -fx-background-color: transparent;
}
.hn-treeview .tree-cell:empty, .hn-treeview .tree-cell:odd:empty {
    -fx-background-color: transparent;
}
.hn-treeview .tree-cell .tree-cell:hover:empty,
.hn-treeview .tree-cell .tree-cell:odd:hover:empty {
    -fx-background-color: transparent;
}
.hn-treeview .tree-view {
    -fx-background-color: linear-gradient(-fx-base-sub4 0%, derive(-fx-base-sub4, 30%) 20%, derive(-fx-base-sub4, 30%) 97%, #cccccc 99%, white 99%);
    -fx-background-insets: 0,0,1;
    -fx-background-radius: 0 0 3 0;
}
.hn-treeview .tree-view:focused {
    -fx-background-color: linear-gradient(-fx-base-sub4 0%, derive(-fx-base-sub4, 30%) 20%, derive(-fx-base-sub4, 30%) 97%, #cccccc 99%, white 99%);
}
.hn-treeview .tree-view .tree-cell:hover {
    -fx-background-color: lightgray;
    -fx-background-insets: 0,1,2;
}
.hn-treeview .tree-view .tree-cell:filled:selected:hover {
    -fx-background-color: derive(-fx-base, -20%);
    -fx-background-insets: 0,1;
}
.hn-treeview .tree-view:focused .tree-cell:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0,1;
}
.hn-treeview .tree-view:focused .tree-cell:focused:hover {
    -fx-background-color: lightgray;
    -fx-background-insets: 0,1,2;
}
.hn-treeview .tree-view:focused .tree-cell:filled:focused:selected,
.hn-treeview .tree-view:focused .tree-cell:filled:focused:selected:hover {
    -fx-background-color: -fx-base-dark;
    -fx-background-insets: 0,1,2;
}
.hn-treeview .tree-cell:filled:selected:focused, .hn-treeview .tree-cell:filled:selected {
    -fx-background-color: -fx-base-dark;
    -fx-background-insets: 0,1;
    -fx-text-fill: white;
}
.hn-treeview .tree-cell .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-padding:16 16 0 0;
    -fx-background-image: url("../images/tree-node-close.png");
}
.hn-treeview .tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-padding:16 16 0 0;
    -fx-background-image: url("../images/tree-node-open.png");
    -fx-rotate: 0;
    -fx-opacity: 0.6;
}
.hn-treeview .tree-cell:filled .tree-disclosure-node .arrow,
.tree-cell:filled:hover .tree-disclosure-node .arrow {
    /* Treeview node color */
    -fx-background-color: derive(-fx-base, -30%);
}
.hn-treeview .tree-cell .tree-disclosure-node {
    -fx-padding: 0 6 0 0;
}
.hn-treeview .tree-view .corner {
    -fx-background-color: transparent;
}
.hn-treeview .tree-view .scroll-bar:vertical .track-background {
    -fx-background-insets: -1 -1 -1 0;
}
.hn-treeview .tree-view .scroll-bar:vertical .track {
    -fx-background-insets: -1 -1 -1 0, 0 0 0 1;
}
.hn-treeview .tree-view .scroll-bar:vertical .thumb {
    -fx-background-insets: -1 -1 -1 0, 0 0 0 1;
}
.hn-treeview .tree-view .scroll-bar:vertical .decrement-button {
    -fx-background-insets: 0 0 -8 1;
    -fx-padding: 6 3 6 4;
}
.hn-treeview .tree-view .scroll-bar:vertical .increment-button {
    -fx-background-insets: -8 0 0 1;
    -fx-padding: 6 3 6 4;
}
.hn-treeview .tree-view .scroll-bar:horizontal .track-background {
    -fx-background-insets: 0 -1 -1 -1;
}
.hn-treeview .tree-view .scroll-bar:horizontal .track {
    -fx-background-insets: 0 -1 -1 -1, 1 0 0 0;
}
.hn-treeview .tree-view .scroll-bar:horizontal .thumb {
    -fx-background-insets: 0 -1 -1 -1, 1 0 0 0;
}
.hn-treeview .tree-view .scroll-bar:horizontal .decrement-button {
    -fx-background-insets: 1 -8 0 0;
    -fx-padding: 3 6 4 6;
}
.hn-treeview .tree-view .scroll-bar:horizontal .increment-button {
    -fx-background-insets: 1 0 0 -8;
    -fx-padding: 3 6 4 6;
}

/*** 06. ScrollPane ***/
.hn-tab-scrollpane > .scroll-pane {
    -fx-background-color: linear-gradient(rgba(255,255,255,0) 99%, rgba(100,100,100,0.2) 100%);
    -fx-border-width: 0;
    -fx-border-color: #aaaaaa;
    -fx-font-family: MingLiU, monospace;
    -fx-font-size: 16;
    -fx-font-smoothing-type: gray;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
/*** 07.ScrollBar ***/
.scroll-bar{
    -fx-background-color: transparent;
}
.scroll-bar:vertical .track {
    -fx-background-color: linear-gradient(to right,#333333 0%,derive(-fx-base,-40%) 30%);
    -fx-border-color:transparent;
    -fx-background-radius: 1,1;
    -fx-background-insets: 0,1;

}
.scroll-bar:horizontal .track {
    -fx-background-color: linear-gradient(to bottom,#333333 0%,derive(-fx-base,-40%) 30%);
    -fx-border-color:transparent;
    -fx-background-radius: 1,1;
    -fx-background-insets: 0,1;

}
.scroll-bar:vertical .track-background {
    -fx-background-color: derive(-fx-base, -30%);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar:horizontal .track-background {
    -fx-background-color: derive(-fx-base, -30%);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar:vertical .thumb {
    -fx-background-color:transparent,linear-gradient(to right,derive(-fx-base,30%) 0%,derive(-fx-base,10%) 100%);
    -fx-background-insets: 0,1;
    -fx-background-radius: 1,1;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color:transparent,linear-gradient(to bottom,derive(-fx-base,30%) 0%,derive(-fx-base,10%) 100%);
    -fx-background-insets: 0,1;
    -fx-background-radius: 1,1;
}
.scroll-bar:vertical .thumb:hover {
    -fx-background-color:transparent,linear-gradient(to right,derive(-fx-base,40%) 0%,derive(-fx-base,20%) 100%);
    -fx-border-color:transparent;
}
.scroll-bar:horizontal .thumb:hover {
    -fx-background-color:transparent,linear-gradient(to bottom,derive(-fx-base,30%) 0%,derive(-fx-base,10%) 100%);
    -fx-border-color:transparent;
}
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color:transparent,linear-gradient(to right,derive(-fx-base,-20%) 0%,derive(-fx-base,-10%) 100%);
    -fx-border-color:transparent;
    -fx-background-radius: 1,1;
    -fx-background-insets: 0,1;
}
.scroll-bar:horizontal .thumb:pressed {
    -fx-background-color:transparent,linear-gradient(to bottom,derive(-fx-base,-20%) 0%,derive(-fx-base,-10%) 100%);
    -fx-background-radius: 1,1;
    -fx-background-insets: 0,1;
}
.scroll-bar:vertical .decrement-button {
    -fx-background-color:linear-gradient(to right,derive(-fx-base,30%) 0%,derive(-fx-base,10%) 100%);
    -fx-background-radius: 0;
    -fx-padding: 5;
    -fx-background-insets: 1 1 -8 1;
}
.scroll-bar:vertical .increment-button{
    -fx-background-color:linear-gradient(to right,derive(-fx-base,30%) 0%,derive(-fx-base,10%) 100%);
    -fx-background-radius: 0;
    -fx-padding: 5;
    -fx-background-insets: -8 1 1 1;
}
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:linear-gradient(to bottom,derive(-fx-base,30%) 0%,derive(-fx-base,10%) 100%);
    -fx-background-radius: 0;
    -fx-padding: 5;
    -fx-background-insets: 1 -8 1 1;
}
.scroll-bar:horizontal .increment-button {
    -fx-background-color:linear-gradient(to bottom,derive(-fx-base,30%) 0%,derive(-fx-base,10%) 100%);
    -fx-background-radius: 0;
    -fx-padding: 5;
    -fx-background-insets: 1 1 1 -8;
}
.scroll-bar:vertical .increment-button:pressed, .scroll-bar:vertical .decrement-button:pressed{
    -fx-background-color:linear-gradient(to right,derive(-fx-base,-20%) 0%,derive(-fx-base,-10%) 100%);
}
.scroll-bar:horizontal .increment-button:pressed, .scroll-bar:horizontal .decrement-button:pressed{
    -fx-background-color:linear-gradient(to bottom,derive(-fx-base,-20%) 0%,derive(-fx-base,-10%) 100%);
}
.scroll-bar:horizontal .increment-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding:7 6 0 0;
    -fx-shape: "m 4.75,9.501 2.889,0 3.86,4.124 -3.86,4.125 -2.889,0 L 8.125,13.625 4.75,9.501 z";
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding:7 6 0 0;
    -fx-shape: "m 11.499,17.75 -2.889,0 -3.86,-4.124 3.86,-4.125 2.889,0 -3.375,4.125 3.375,4.124 z";
}
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding: 6 7 0 0;
    -fx-shape: "m 12.249,10.251 0,2.889 L 8.125,17 4,13.14 l 0,-2.889 4.125,3.375 4.124,-3.375 z";
}
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding: 6 7 0 0;
    -fx-shape: "m 4,17 0,-2.889 4.124,-3.86 4.125,3.86 0,2.889 L 8.124,13.625 4,17 z";
}

/*** 08.Slider ***/
/*--.slider {
}
.slider .thumb {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 2;
    -fx-padding: 11 6;
}
.slider:focused .thumb {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
}
.slider .thumb:hover {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
}
.slider:focused .thumb:hover {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);

}
.slider:focused .thumb:pressed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);
}
.slider .track {
    -fx-background-color: linear-gradient(#333333 10%, #cccccc 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3;
    -fx-padding: 3;
}  --*/

/*** 09.FunctionKey Buttons ***/
.button {
    -fx-background-color: transparent,rgb(99,99,99), linear-gradient(to bottom,rgb(99,99,99) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(255,255,255) 0%,rgb(180,180,180) 75%,rgb(230,230,230) 100%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3;
    -fx-padding: 4 15 5 15;
}
.button:focused {
    -fx-background-color: -fx-focus-color, -fx-base-darker, linear-gradient(to bottom,rgb(199,199,199) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,-fx-base-ultraLight 0%,-fx-base 75%,-fx-base-light 100%);
    -fx-background-insets: -0.4,1,2,3;
}
.button:focused:hover {
    -fx-background-color: -fx-focus-color, rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: -0.4,1,2,3;
}
.button:hover {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0,1,2,3;
}
/*.button:default {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,derive(rgb(222,223,228),-10%) 0%,derive(rgb(195,199,203),-10%) 100%);
    -fx-background-insets: 0,1,2,3;
}
.button:default:hover {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,derive(rgb(222,223,228),15%) 0%,derive(rgb(195,199,203),15%) 100%);
    -fx-background-insets: 0,1,2,3;
}
.button:default:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,derive(rgb(222,223,228),-10%) 0%,derive(rgb(195,199,203),-10%) 100%);
    -fx-background-insets: -0.4,1,2,3;
}
.button:default:focused:hover {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,derive(rgb(222,223,228),15%) 0%,derive(rgb(195,199,203),15%) 100%);
    -fx-background-insets: -0.4,1,2,3;
} */
.button:focused:hover:pressed,
.button:armed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom, rgb(115, 121, 131) 0%,rgb(140,150,162) 100%);
    -fx-background-insets: -0.4,1,2,3;
    -fx-text-fill: #cccccc;
}
.button:disabled {
    -fx-opacity: .5;
}
/*** 10. StageTab ***/

.hn-stageTab .tab-pane {
    -fx-background-color: transparent;
}
.hn-stageTab .tab-pane *.tab-header-background {
    -fx-background-color: linear-gradient(#0f2952 80%, #163d7e 100%);
}
.hn-stageTab .tab {
    -fx-background-insets: 1 6 6 1;
    -fx-background-radius: 1;
    -fx-padding: 3 15 7 15;
}
.hn-stageTab .tab:top, .hn-stageTab .tab:right, .hn-stageTab .tab:left, .hn-stageTab .tab:bottom {
    -fx-background-color: rgb(152,157,162),linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-opacity: 0.7;
}
.hn-stageTab .tab:top:hover, .hn-stageTab .tab:right:hover, .hn-stageTab .tab:left:hover, .hn-stageTab .tab:bottom:hover {
    -fx-background-color: rgb(152,157,162),linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);

}
.hn-stageTab .tab:selected, .hn-stageTab .tab:selected:hover {
    -fx-background-color: -fx-base;
    -fx-opacity: 1;
}
.tab-content-area {
    /* TabPane Frame*/
}

/*** 11. Modals ***/
.hn-modalWrap {
    -fx-background-color: transparent;
}
.hn-Modal-BkgMask {
    -fx-background-color: rgba(66,66,66,0.9);
}
.hn-Modal .hn-Modal-Alert {
    -fx-background-radius: 1;
    -fx-background-color: linear-gradient(to bottom, #ffaf34 0, #b3740a 6%);
}
.hn-Modal .hn-Modal-Error {
    -fx-background-radius: 1;
    -fx-background-color: linear-gradient(to bottom, #f57169 0, #cc1717 6%);
}
.hn-Modal .hn-Modal-Info {
    -fx-background-radius: 1;
    -fx-background-color: linear-gradient(to bottom, #6fc0ff 0, #279cd1 6%);
}
.hn-Modal .hn-Modal-Global {
    -fx-background-radius: 1;
    -fx-background-color: linear-gradient(to bottom, #56727a 0, #104155 6%);
}
.hn-Modal .hn-Modal-corners {
    -fx-fill: linear-gradient(#32496A 10%, black 100%);
    -fx-background-radius: 1;
}
.hn-Modal .hn-Modal-title {
    -fx-font-size: 1.1em;
    -fx-padding: 5 0 0 0;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #ffffff, 10, 0.3, 0, 0);
}
.hn-Modal .hn-Modal-title-shadow {
    -fx-background-color: linear-gradient(to right, transparent 0, #333333 50%, transparent 100%);
}
.hn-Modal .hn-Modal-content {
    -fx-background-color: linear-gradient(rgba(255,255,255,1) 0, rgba(255,255,255,0.7) 100%) ;
    -fx-background-radius: 2;
}
.hn-Modal .hn-Modal-Btns {
    -fx-background-color: linear-gradient(to bottom, #222222 0, #333333 10%);
    -fx-background-radius: 0 0 15 15;
}
.hn-Modal .separator {
    -fx-background-color: linear-gradient(to right, rgba(255,255,255,0) 0, rgba(0,0,0,0.3) 50%, rgba(255,255,255,0) 100% );
}
.hn-Modal .hn-Modal-shadow {
    -fx-background-color: linear-gradient(to bottom, #333333 0, rgba(255,255,255,0) 100%);
    -fx-background-radius: 1;
}
/* Modal Button */
.hn-Modal .hn-Modal-footer .button {
    -fx-background-color: transparent, transparent, linear-gradient(to bottom,#000000 0%,#555555 100%), linear-gradient(to bottom, #666666 0%, #111111 100%);
    -fx-background-radius: 2;
    -fx-padding: 10 20 11 20;
    -fx-text-fill: white;
}
.hn-Modal .hn-Modal-footer .button:focused {
    -fx-background-color: transparent, #75d3fc, linear-gradient(to bottom, #b5d9ee 0%, #75d3fc 100%), linear-gradient(to bottom, #666666 0%, #222222 100%);
}
.hn-Modal .hn-Modal-footer .button:focused:hover {
    -fx-background-color: transparent, #75d3fc, linear-gradient(to bottom,#b5d9ee 0%, #75d3fc 100%), linear-gradient(to bottom,#666666 0%,#222222 100%);
}
.hn-Modal .hn-Modal-footer .button:hover {
    -fx-background-color: transparent, #75d3fc, linear-gradient(to bottom,#000000 0%,#333333 100%), linear-gradient(to bottom,#555555 0%,#222222 100%);
}
.hn-Modal .hn-Modal-footer .button:focused:hover:pressed,
.hn-Modal .hn-Modal-footer .button:armed {
    -fx-background-color: transparent, #75d3fc, linear-gradient(to bottom,#000000 0%,#333333 100%), linear-gradient(to bottom,#000000 0%,#333333 40%);
    -fx-text-fill: #cccccc;
}
.hn-Modal .hn-Modal-footer .button:disabled {
    -fx-opacity: .5;
}

/*** 12. Report ***/
.hn-tab-report {
    -fx-background-color: linear-gradient(#f3dd8b 0, #baa891 100%) !important;
}
.hn-tabPaneReportWrap {
    -fx-background-radius: 0 8 8 8;
    -fx-background-color: linear-gradient(#baa891 0, #867b6c 100%);
}
.hn-reportToolBar {
    -fx-background-color: linear-gradient(to bottom, #42210B 0, #5b2d0f 5%, #42210B 100%);
    -fx-background-radius: 0 6 6 0;
    -fx-effect: dropshadow(three-pass-box, #666666, 5, 0.5, 0, 2);
}
.hn-reportPagination {
    -fx-background-radius: 2 2 0 0;
    -fx-background-color: rgba(11,11,11,0.8);
}
.hn-reportContent {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-font-family: MingLiU, monospace;
}

/*** 13. Splash ***/
.hn-splash .button {
    -fx-background-color: transparent, transparent, linear-gradient(to bottom, #66122d 0%, #793140 100%), linear-gradient(to bottom, #793140 0%, #66122d 100%);
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 1;
}
.hn-splash .button:focused {
    -fx-background-color: transparent, #d35078, linear-gradient(to bottom, #66122d 0%, #793140 100%), linear-gradient(to bottom, #793140 0%, #66122d 100%);
}
.hn-splash .button:focused:hover {}
.hn-splash .button:hover {
    -fx-background-color: transparent, #ff589c, linear-gradient(to bottom, #66122d 0%, #713138 100%), linear-gradient(to bottom, #a9435b 0%, #66122d 100%);
}
.hn-splash .button:focused:hover:pressed {
    -fx-background-color: transparent, #bc456d, linear-gradient(to bottom, #66122d 0%, #793140 100%), linear-gradient(to bottom, #4a2325 0%, #66122d 50%);
}
.hn-splash .button:disabled {
    -fx-opacity: 0;
}
/*** 13. Loading ***/
.hn-loading {
    -fx-font-size: 15;
    -fx-background-color: #312322;
    -fx-background-radius: 15;
}
.hn-loading .label {
    -fx-text-fill: white;
}
.hn-loading-seconds {
    -fx-background-color: #ffbaca;
    -fx-background-radius: 9;
}
.hn-loading-seconds .label {
    -fx-text-fill: #312322;
}

/************************************************************************
+ ui-controls.css  (Global Styles)
************************************************************************/
/*******************

/** UI Controls
01. TextInput
02. TextField
03. PasswordField
04. TextArea
05. TableView
06. Pagination
07. Button
08. ToggleButton
09. CheckBox
10. RadioButton
11. ComboBoxBase
12. ComboBox
13. ScrollPane
14. TabPane
15. TitledPane

/** Misc
a. Separator
b. Tooltip
c. ProgressBar
d. ProgressIndicator

*******************/

/*** 02. TextField ***/
.text-field {
    -fx-padding: 1 5 1 5;
    -fx-border-radius: 1;
    -fx-background-image: null;
    -fx-background-color: #999999, white, linear-gradient( white 0%, white 100%), linear-gradient(rgb(230,230,230) 0%, white 35%);
    -fx-highlight-fill: -fx-focus-color;
    -fx-highlight-text-fill: white;
    -fx-effect: dropshadow(one-pass-box, gray, 1, 1.0, 0, 1);
}
.text-field.hn-required {
    -fx-background-color: #999999, white, linear-gradient( white 0%, white 100%), -fx-required-gradient;
}
.text-field:focused,
.text-field.hn-required:focused {
    -fx-background-color: -fx-focus-color, #cccccc, linear-gradient( white 0%, white 100%), -fx-focus-gradient;
}
.text-field:disabled {
    -fx-background-color: #999999, #eeeeee, linear-gradient( white 0%, white 100%), linear-gradient(rgb(204,204,204) 0%, rgb(204,204,204) 100%);
}
.text-field.error {
    -fx-background-color: -fx-error-base, white, transparent, -fx-error-gradient;
    -fx-text-fill: derive(-fx-error-base, -10%);
}

/*** 05. TableView ***/
.table-view {}
.table-view:focused {}
.table-row-cell {}
.table-row-cell:odd {}
.table-view .column-header, .table-view .filler {
    -fx-font-size: 16;
}
.table-view .show-hide-columns-button {
}
.table-view .column-drag-header {
}
.table-view .column-resize-line {
}
.table-view .column-overlay {
}
.table-view .arrow {
}

/*** 06. Pagination ***/
.pagination {
    -fx-padding: 0;
    -fx-arrows-visible: true;
    -fx-tooltip-visible: false;
    -fx-page-information-visible: false;
    -fx-page-information-alignment: top;
    -fx-max-page-indicator-count: 10;
    -fx-font-family: Arial;
}
.pagination .page {
    -fx-background-color: transparent;
}
.pagination-control .control-box {
    -fx-spacing: 0;
}
.pagination .pagination-control .left-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 1;

    -fx-shape: "m 11.499,17.75 -2.889,0 -3.86,-4.124 3.86,-4.125 2.889,0 -3.375,4.125 3.375,4.124 z";
    -fx-scale-shape: true;
}
.pagination .pagination-control .right-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 1;
    -fx-shape: "m 4.75,9.501 2.889,0 3.86,4.124 -3.86,4.125 -2.889,0 L 8.125,13.625 4.75,9.501 z";
    -fx-scale-shape: true;
}
.pagination .pagination-control .left-arrow-button{
    -fx-padding: 2;
    -fx-background-color: linear-gradient(-fx-base 10%, derive(-fx-base, -30%) 100%);
    -fx-background-radius: 4 0 0 4;
    -fx-background-inset: 1;
    -fx-translate-x: 2;
}
.pagination .pagination-control .right-arrow-button {
    -fx-padding: 2;
    -fx-background-color: linear-gradient(-fx-base 10%, derive(-fx-base, -30%) 100%);
    -fx-background-radius: 0 4 4 0;
    -fx-translate-x: -2;
}
.pagination .pagination-control .left-arrow-button:hover, .pagination .pagination-control .right-arrow-button:hover {
    -fx-background-color: linear-gradient(-fx-base 10%, derive(-fx-base, -40%) 100%);
}
.pagination .pagination-control .number-button {
    -fx-padding: 2;
}
.pagination .pagination-control .number-button:hover {
    -fx-base: -fx-base-darker;
}
.pagination .pagination-control .number-button:pressed {
}
.pagination .pagination-control .number-button:selected {
    -fx-base: -fx-base-darker;
    -fx-background-color: linear-gradient(-fx-base 10%, derive(-fx-base, -30%) 100%);
    -fx-background-insets: 0;
    -fx-font-weight: bold;
}
.pagination .pagination-control .page-information {
    -fx-translate-x: 0;
}
.pagination .pagination-control .page-information .text {
    -fx-font-weight: bold;
}
/*** 07. Button ***/
.button {
}
.button:focused {
}
.button:focused:hover {
}
.button:hover {
}
.button:default {
}
.button:default:hover {
}
.button:default:focused {
}
.button:default:focused:hover {
}
.button:focused:hover:pressed, .button:armed,
.button:default:focused:hover:pressed, .button:default:armed {
}

/*** 09. CheckBox ***/
.check-box {
    -fx-padding: 1 2 1 0;
}
.check-box .text {
    -fx-translate-y: 2;
}
.check-box .box {
    -fx-background-color: transparent, #999999, linear-gradient( white 0%, white 100%), -fx-box-gradient;
    -fx-background-radius: 2;
    -fx-padding: 4 4 5 4;
    -fx-effect: dropshadow(one-pass-box, gray, 1, 1.0, 0, 1);
}
.check-box.hn-required .box {
    -fx-background-color: transparent, #999999, linear-gradient( white 0%, white 100%), -fx-required-gradient;
}
.check-box:focused .box,
.check-box.hn-required:focused .box {
    -fx-background-color: -fx-focus-color, #cccccc, linear-gradient( white 0%, white 100%), -fx-focus-gradient;
}
.check-box:hover .box {
}
.check-box:focused:hover .box {
}
.check-box:armed .box {
}
.check-box:focused:selected:armed .box {
}
.check-box:selected .box {
}
.check-box:selected:focused .box {
}
.check-box:focused:pressed .box {
}
.check-box .mark {
    -fx-shape: "M5.30273 11.5381 0 6.14893 1.81934 4.35889 5.21973 7.81348 12.2476 0 14.146 1.70703 5.30273 11.5381Z";
    -fx-background-insets: -1 -2;
}
.check-box:indeterminate .mark {
    -fx-background-color: -fx-mark-color;
    -fx-scale-shape: false;
}
.check-box:selected .mark {
    -fx-background-color: -fx-mark-color;
}
.check-box.error .box {
    -fx-background-color: transparent, -fx-error-base, white, -fx-error-gradient;
    -fx-background-radius: 2;
    -fx-text-fill: -fx-error-base;
}
/*** 10. RadioButton ***/
.radio-button {
    -fx-padding: 1 0 1 0;
}
.radio-button .text {
    -fx-translate-y: 2;
}
.radio-button .radio {
    -fx-background-color:  transparent, #999999, linear-gradient( white 0%, white 100%), -fx-box-gradient;
    -fx-padding: 4;
    -fx-effect: dropshadow(one-pass-box, gray, 1, 1.0, 0, 1);
}
.radio-button.hn-required .radio {
    -fx-background-color:  transparent, #999999, linear-gradient( white 0%, white 100%), -fx-required-gradient;
}
.radio-button:focused .radio,
.radio-button.hn-required:focused .radio{
    -fx-background-color: -fx-focus-color, #cccccc, linear-gradient( white 0%, white 100%), -fx-focus-gradient;
}
.radio-button:hover .radio {
}
.radio-button:hover:focused .radio {
}
.radio-button:focused:pressed .radio {
}
.radio-button:selected .radio {
}
.radio-button:selected:focused .radio {
}
.radio-button:armed .radio {
}
.radio-button:focused:selected:armed .radio {
}
.radio-button .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 1.0em;
    -fx-padding: 5;
}
.radio-button:selected .dot {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
}
.radio-button.error .radio {
    -fx-background-color:  transparent, -fx-error-base, linear-gradient( white 0%, white 100%), -fx-error-gradient;
}

/*** 11. ComboBoxBase ***/
.combo-box-base {
    -fx-background-color: transparent, #999999, linear-gradient( white 0%, white 100%), -fx-box-gradient;
    -fx-background-radius: 1;
    -fx-effect: dropshadow(one-pass-box, gray, 1, 1.0, 0, 1);
}
.combo-box.hn-required,
.combo-box.hn-required .arrow-button {
    -fx-background-color: transparent, #999999, linear-gradient( white 0%, white 100%), -fx-required-gradient;
}
.combo-box-base:hover {
}
.combo-box-base:focused:showing, .combo-box-base:focused:showing:hover {
}
.combo-box-base:focused,
.combo-box-base:focused .arrow-button,
.combo-box.hn-required:focused,
.combo-box.hn-required:focused .arrow-button {
    -fx-background-color: -fx-focus-color, #cccccc, linear-gradient( white 0%, white 100%), -fx-focus-gradient;
}
.combo-box-base:focused:hover {
}
.combo-box-base:focused:pressed {
}
.combo-box-base .arrow-button {
    -fx-background-color: transparent, #cccccc, linear-gradient( #cccccc 0%, white 100%), -fx-box-gradient;
    -fx-background-radius: 0 1 1 0;
    -fx-background-insets: 2;
}
.combo-box-base:hover .arrow-button{
}
.combo-box-base:editable:hover .arrow-button,
.combo-box-base:editable:focused:pressed .arrow-button {
}
.combo-box-base:editable .arrow-button:hover{
}
.combo-box-base:editable:focused .arrow-button:pressed{
}
.combo-box-base:focused:pressed .arrow-button,
.combo-box-base:focused:showing .arrow-button,
.combo-box-base:focused:showing:hover .arrow-button {
}
.combo-box-base .arrow {
}
.combo-box-base:editable .combo-box-base {
}
.combo-box-base:editable .text-field {
}
.combo-box-base:editable:hover .text-field {
}
.combo-box-base:editable .text-field:focused {
}
.combo-box-base.error {
    -fx-background-color: transparent, -fx-error-base, white, -fx-error-gradient;
    -fx-background-radius: 2;
    -fx-effect: dropshadow(one-pass-box, gray, 1, 1.0, 0, 1);
}
.combo-box-base.error .arrow-button {
    -fx-background-color: transparent, -fx-error-base, white, -fx-error-gradient;
}
/*** 12. ComboBox ***/
.combo-box {
    -fx-background-radius: 2;
}
.combo-box .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 2 0 0 7;
}
.combo-box:showing .list-cell {
    -fx-text-fill: black;
}
.combo-box-popup .list-view {
    -fx-background-color: rgb(76,81,86),rgb(228,233,238);
    -fx-background-insets: 0,1;
}

/*** 13. ScrollPane ***/
.scroll-pane {
    -fx-background-color: linear-gradient(#bbbbbb 0, #dddddd 10%), linear-gradient(derive(-fx-base-ultraLight, -5%) 0, -fx-base-ultraLight 10%, -fx-base-ultraLight 99%, rgba(100,100,100,0.2) 100%);
    -fx-font-family: MingLiU, monospace;
    -fx-font-size: 16;
    -fx-font-smoothing-type: gray;
    -fx-font-weight: bolder;
    -fx-text-fill: #000000;
}

/*** 14. TabPane ***/
.tab-pane {
    -fx-background-color: transparent;
}
.tab-pane *.tab-header-background {
    -fx-background-color: linear-gradient(transparent 85%, rgba(230,230,230,.2) 100%);
}
.tab-pane .headers-region {
    -fx-effect: null;
    -fx-translate-x: -6;
}
.tab {
    -fx-background-insets: 1 4 0 1;
    -fx-background-radius: 1 1 0 0;;
    -fx-padding: 0 30 0 30;
}
.tab:top {
    -fx-background-color: linear-gradient(#666666 70%, #333333 100%);
}
.tab:top .tab-label {
    -fx-text-fill: #bababa;
    -fx-alignment: center;
}
.tab:top:hover {
    -fx-background-color: linear-gradient(derive(#666666,10%) 70%, derive(#333333,20%) 100%);
}
.tab:selected, .tab:selected:hover {
    -fx-background-color: linear-gradient(-fx-base-light 30%, -fx-base-light 100%);
}
.tab:selected .tab-label {
    -fx-text-fill: #000000;
}
.tab-close-button {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    -fx-scale-shape: false;
    -fx-background-insets: 0;
}
.tab-close-button:hover {
    -fx-background-color: white;
}
.tab-content-area {
    /* TabPane Frame*/
    -fx-background-color: #cccccc, white;
}
/*** TitledPane ***/
.titled-pane:focused {
    -fx-text-fill: -fx-text-base-color;
}
.titled-pane > .title {
    -fx-background-color: -fx-base-ultraDark, linear-gradient(to bottom,-fx-base-darker 0%,-fx-base-dark 100%), linear-gradient(to bottom,-fx-base-lighter 0%,-fx-base-dark 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0;
    -fx-padding: 2;
}
.titled-pane > .title .text {
    -fx-padding: 0 0 5 0;
}
.titled-pane > .title > .arrow-button {
    -fx-background-color: transparent, linear-gradient(to bottom,-fx-base-darker 0%,-fx-base-dark 100%), linear-gradient(to bottom,-fx-base-lighter 0%,-fx-base-dark 100%);
    -fx-background-insets: 0,4,5,6;
    -fx-background-radius: 2;
    -fx-padding: 10;
}
.titled-pane:focused > .title .arrow-button {
    -fx-background-color: transparent, linear-gradient(to bottom,-fx-base-darker 0%,-fx-base-dark 100%), linear-gradient(to bottom,-fx-base-lighter 0%,-fx-base-dark 100%);
    -fx-background-insets: 4,5,6;
}
.titled-pane:focused > .title, .titled-pane:focused > .title:hover {
    -fx-background-color: -fx-base-ultraDark, linear-gradient(to bottom,-fx-base-darker 0%,-fx-base-dark 100%), linear-gradient(to bottom,-fx-base-lighter 0%,-fx-base-dark 100%);
    -fx-background-insets: 0,1,2;
}
.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-shape: "m 12.249,10.251 0,2.889 L 8.125,17 4,13.14 l 0,-2.889 4.125,3.375 4.124,-3.375 z";
    -fx-padding: 8 10 0 0;
}
.titled-pane:collapsed > .title > .arrow-button .arrow {
    -fx-padding: 8 0 0 10;
}
.titled-pane > *.content {
    -fx-background-color: -fx-base-ultraDark, -fx-base-light, linear-gradient(-fx-base-ultraLight 0, white 50%);
    -fx-background-insets:-1 0 0 0,0 1 1 1,1 2 2 2;
}
.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: #333333;
}
/*** b.Tooltip ***/
.hn-tooltip {
    -fx-background-color: rgb(124, 132, 140), rgb(219, 224, 229), rgb(236, 241, 246);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 4 8 4 8;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.4) , 4, 0.0 , 4 , 5 );
}
.page-corner {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-shape: " ";
    -fx-effect: null;
}