/***** Theme Colors *****/

/* Spring  */
.hn-loginWrap {

    -fx-base:            #9DF077;

    -fx-base-ultraLight: #FEFAEB;
    -fx-base-lighter:    #E8F0CD;
    -fx-base-light:      #D2E69D;
    -fx-base-dark:       #58ba0f;
    -fx-base-darker:     #38950A;
    -fx-base-ultraDark:  #005105;
}

.hn-mainWrap {
    -fx-base:            rgb(211, 248, 162);

    -fx-base-ultraLight: rgb(245, 255, 230);
    -fx-base-lighter:    rgb(222, 252, 151);
    -fx-base-light:      rgb(202, 237, 119);
    -fx-base-dark:       rgb(136, 203,  56);
    -fx-base-darker:     rgb( 94, 183,   0);
    -fx-base-ultraDark:  rgb( 57, 174,  58);

    -fx-base-sub1:       rgb( 10, 124,  86);
    -fx-base-sub2:       rgb( 10, 116, 106);
    -fx-base-sub3:       rgb( 10,  88,  86);
    -fx-base-sub4:       rgb(221, 255, 224);

    -fx-base-gradient: linear-gradient(to right, -fx-base-light 5%, -fx-base-lighter 50%, -fx-base-light 95%);
}
