.root {

/**********************
    Fonts
**********************/
    -fx-font-size: 14px;
    -fx-font-family: Arial, monospace;
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-smooth: true;

    -fx-dark-text-color: black;
    -fx-mid-text-color: #292929;
    -fx-color: -fx-base;

    -fx-background: white;
    -fx-light-text-color: white;

    /**********************
        Default Colors
    **********************/
    -fx-base: #d1f2f0;

    -fx-base-gradient: linear-gradient(-fx-base 10%, derive(-fx-base, -30%) 100%);

    -fx-control-inner-background: white;

    -fx-text-background-color: ladder(
        -fx-background,
        -fx-light-text-color 45%,
        -fx-dark-text-color  46%,
        -fx-dark-text-color  59%,
        -fx-mid-text-color   60%
    );

    -fx-text-fill: -fx-text-background-color;

    -fx-box-border: ladder(
        -fx-color,
        black 20%,
        derive(-fx-color,-30%) 30%
    );

    -fx-text-box-border: ladder(
        -fx-background,
        black 10%,
        derive(-fx-background, -15%) 30%
    );

    -fx-shadow-highlight-color: ladder(
        -fx-background,
        transparent 0%,
        derive(-fx-background,40%)   5%,
        derive(-fx-background,60%)  70%,
        derive(-fx-background,100%) 85%,
        derive(-fx-background,100%) 97%,
        derive(-fx-background,-10%) 97.5%
    );

    -fx-outer-border: linear-gradient(
        to bottom,
        derive(-fx-color,-9%) 0%,
        derive(-fx-color,-33%) 100%
    );

    -fx-inner-border: linear-gradient(
        to bottom,
        ladder(-fx-color,
        derive(-fx-color,80%) 60%,
        white 82%) 0%,
        ladder(-fx-color,
        derive(-fx-color,20%) 10%,
        derive(-fx-color,-10%) 80%) 100%
    );

    -fx-inner-border-horizontal: linear-gradient(
        to right,
        ladder(-fx-color,
        derive(-fx-color,80%) 60%,
        white 82%) 0%,
        ladder(-fx-color,
        derive(-fx-color,20%) 10%,
        derive(-fx-color,-10%) 80%) 100%
    );

    -fx-inner-border-bottomup: linear-gradient(
        to top,
        ladder(-fx-color,
        derive(-fx-color,80%) 60%,
        white 82%) 0%,
        ladder(-fx-color,
        derive(-fx-color,20%) 10%,
        derive(-fx-color,-10%) 80%) 100%);

    -fx-body-color: linear-gradient(
        to bottom,
        derive(-fx-color,34%) 0%,
        derive(-fx-color,-18%) 100%
    );

    -fx-body-color-bottomup:  linear-gradient(
        to top,
        derive(-fx-color,34%) 0%,
        derive(-fx-color,-18%) 100%
    );

    -fx-text-base-color: ladder(
        -fx-color,
        -fx-light-text-color 45%,
        -fx-dark-text-color  46%,
        -fx-dark-text-color  59%,
        -fx-mid-text-color   60%
    );


    -fx-text-inner-color: ladder(
        -fx-control-inner-background,
        -fx-light-text-color 45%,
        -fx-dark-text-color  46%,
        -fx-dark-text-color  59%,
        -fx-mid-text-color   60%
    );

    -fx-mark-color: ladder(
        -fx-color,
        white 30%,
        derive(-fx-color,-63%) 31%
    );

    -fx-mark-highlight-color: ladder(
        -fx-color,
        derive(-fx-color,80%) 60%,
        white 70%
    );

    -fx-selection-bar: linear-gradient(
        to bottom,
        derive(-fx-background,-7%) 0%,
        derive(-fx-background,-34%) 100%
    );

    -fx-selection-bar-text: ladder(
        -fx-background,
        -fx-light-text-color 50%,
        -fx-mid-text-color   51%
    );

    -fx-tab-border-color: -fx-box-border;

    -fx-background-color: inherit;
    -fx-background-radius: inherit;
    -fx-background-insets: inherit;
    -fx-padding: inherit;

    -fx-cell-hover-color: #cce3f4;
    -fx-cell-focus-inner-border: #85b9de;

    -fx-page-bullet-border: #acacac;
    -fx-page-indicator-hover-border: #accee5;

/**********************
    States
**********************/
    -fx-focus-color: #25274c ;
    -fx-hover-base: ladder(
        -fx-base,
        derive(-fx-base,20%) 20%,
        derive(-fx-base,30%) 35%,
        derive(-fx-base,40%) 50%
     );

    -fx-pressed-base: derive(-fx-base,-50%);
    -fx-focused-base: derive(-fx-base, 30%);
    -fx-disabled-opacity: 0.4;

/**********************
    Customize Colors
**********************/
    -fx-alert-color: #e10000;
}

.hn-errorText {
    -fx-text-fill: #e10000;
}